body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 0 0 200px 0;
  font-size: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.demo {
  margin: 100px 0 0 100px;
  
}
.demo p {
  margin: 20px 0 0 0;
  font-size: 20px;
}
.demo div {
  margin: 30px 0 0 0;
}
.demo-com-loading {
  font-size: 100px;
  color: red;
}

.ref-btn {
  cursor: pointer;
}

.por-b {
  position: fixed;
  width: 600px;
  height: 300px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 300px;
}